{{define "path"}}home{{end}}
{{ define "content" }}

    <h1 class="text-xl font-bold md:text-3xl">Notas recentes</h1>
    <section class="mt-20">
    </section>
{{ end }}

{{ template "base.tmpl" . }}